{% extends 'layout_default.html' %}
{% block css %}

{% endblock %}
{% block content %}
<div id="content" class="col-md-12">
<!-- page header -->
  <div class="pageheader">


    <h2><i class="fa fa-tachometer"></i> 图表
    <span>// Place subtitle here...</span></h2>

      <!--路径-->
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li>You are here</li>
        <li><a href="index.html">Minimal</a></li>
        <li class="active">图表</li>
      </ol>
    </div>
  </div>
  <!-- /page header -->
 <div class="main">
     <div class="row">
         <div class="col-md-12 col-lg-12">
             <!-- tile -->
        <section class="tile transparent">




          <!-- tile header -->
          <div class="tile-header">
            <h1>
                <input type="text" class="form-control" />
            </h1>
            <div class="controls">
              <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
              <a href="#" class="remove"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <!-- /tile header -->


          <!-- tile body -->
          <div class="tile-body color transparent-black rounded-bottom-corners">
            <div class="row">
              <!--此处为内容-->
                <div id="chart1">图表举例</div>

            </div>
          </div>
          <!-- /tile body -->



        </section>
        <!-- /tile -->
         </div>
     </div>
 </div>
</div>
{% endblock %}

{% block script %}
    <script src="/static/js/vendor/hchart/highcharts.js"></script>
    <script>
    //图表举例
        var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

    $('#chart1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '两地月平均温度'
        },
        subtitle: {
            text: '数据来源: WorldClimate.com'
        },
        xAxis: {
            categories: months
        },
        yAxis: {
            title: {
                text: '温度'
            },
            labels: {
                formatter: function () {
                    return this.value + '°';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: '东京',
            marker: {
                symbol: 'square'
            },
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: '伦敦',
            marker: {
                symbol: 'circle'
            },
            data: [4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
    </script>

{% endblock %}