{% extends 'layout_default.html' %}

{% block content %}
<!-- Page content -->
        <div id="content" class="col-md-12">









          <!-- page header -->
          <div class="pageheader">


            <h2><i class="fa fa-font"></i> Typography <span>// Place subtitle here...</span></h2>


            <div class="breadcrumbs">
              <ol class="breadcrumb">
                <li>You are here</li>
                <li><a href="index.html">Minimal</a></li>
                <li><a href="ui-elements.html">Interface</a></li>
                <li class="active">Typography</li>
              </ol>
            </div>


          </div>
          <!-- /page header -->






          <!-- content main container -->
          <div class="main">




            <!-- row -->
            <div class="row">

              <!-- col 3 -->
              <div class="col-lg-3 col-md-6">



                <!-- tile -->
                <section class="tile transparent">



                  <!-- tile header -->
                  <div class="tile-header transparent">
                    <h1><strong>Normal</strong> Headings</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black rounded-corners">

                    <h1>h1. Heading</h1>
                    <h2>h2. Heading</h2>
                    <h3>h3. Heading</h3>
                    <h4>h4. Heading</h4>
                    <h5>h5. Heading</h5>
                    <h6>h6. Heading</h6>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




              </div>
              <!-- /col 3 -->

              <!-- col 3 -->
              <div class="col-lg-3 col-md-6">



                <!-- tile -->
                <section class="tile transparent">



                  <!-- tile header -->
                  <div class="tile-header transparent">
                    <h1><strong>Sans-Serif</strong> Headings</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black rounded-corners">

                    <h1 class="sans-serif">h1. Heading</h1>
                    <h2 class="sans-serif">h2. Heading</h2>
                    <h3 class="sans-serif">h3. Heading</h3>
                    <h4 class="sans-serif">h4. Heading</h4>
                    <h5 class="sans-serif">h5. Heading</h5>
                    <h6 class="sans-serif">h6. Heading</h6>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




              </div>
              <!-- /col 3 -->


              <!-- col 3 -->
              <div class="col-lg-3 col-md-6">



                <!-- tile -->
                <section class="tile transparent">



                  <!-- tile header -->
                  <div class="tile-header transparent">
                    <h1><strong>Filled</strong> Headings</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-black rounded-corners">

                    <h1 class="filled slategray">h1. Heading</h1>
                    <h2 class="filled greensea sans-serif">h2. Heading</h2>
                    <h5 class="filled redbrown">h5. Heading</h5>
                    <h6 class="filled drank sans-serif">h6. Heading</h6>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




              </div>
              <!-- /col 3 -->

              <!-- col 3 -->
              <div class="col-lg-3 col-md-6">



                <!-- tile -->
                <section class="tile transparent">



                  <!-- tile header -->
                  <div class="tile-header transparent">
                    <h1><strong>Colored</strong> Headings</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body color transparent-white rounded-corners">

                    <h1 class="color-greensea">h1. Heading</h1>
                    <h2 class="color-red">h2. Heading</h2>
                    <h3 class="color-drank">h3. Heading</h3>
                    <h4 class="color-slategray">h4. Heading</h4>
                    <h5 class="color-blue">h5. Heading</h5>
                    <h6 class="color-green">h6. Heading</h6>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




              </div>
              <!-- /col 3 -->



            </div>
            <!-- /row -->



            <!-- row -->
            <div class="row">

              <!-- col 4 -->
              <div class="col-md-4">



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Text</strong> Emphasis</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4 class="filled">De-Emphasizing</h4>
                    <p class="filled">
                      <small>This line of text is meant to be treated as fine print.</small>
                    </p>

                    <h4 class="filled">Bold</h4>
                    <p class="filled">
                      The following snippet of text is <strong>rendered as bold text</strong>.
                    </p>

                    <h4 class="filled">Italics</h4>
                    <p class="filled">
                      The following snippet of text is <em>rendered as italicized text</em>.
                    </p>

                    <h4>Emphasis Classes</h4>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="color-red">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="color-cyan">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="color-green">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
                    <p class="color-orange">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="color-amethyst">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="thin">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="uppercase">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="italic">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="bold">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Text</strong> Abbreviations</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h5>Default Abbreviation</h5>
                    <div class="well transparent-black">An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</div>
                    <h5>Little Smaller Text Abbreviation</h5>
                    <div class="well transparent-black"><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</div>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Text</strong> Alignment</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <p class="text-left">Left aligned text.</p>
                    <p class="text-center">Center aligned text.</p>
                    <p class="text-right">Right aligned text.</p>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-white">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Address</strong> Types</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4>Normal</h4>
                    <address>
                      <strong>Twitter, Inc.</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                    <address>
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">first.last@example.com</a>
                    </address>

                    <h4>Filled</h4>
                    <address class="filled addon">
                      <strong>Twitter, Inc.</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890
                      <i class="fa fa-map-marker pull-right"></i>
                    </address>

                    <address class="filled filled-append blue">
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">first.last@example.com</a>
                    </address>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Horizontal</strong> Description</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4>Normal</h4>
                    <dl class="dl-horizontal">
                      <dt>Description lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <dt>Euismod</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dt>Malesuada porta</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>

                    <h4>Filled</h4>
                    <dl class="dl-horizontal filled green">
                      <dt>Description lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <dt>Euismod</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dt>Malesuada porta</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Vertical</strong> Description</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4>Normal</h4>
                    <dl>
                      <dt>Description lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <dt>Euismod</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dt>Malesuada porta</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>

                    <h4>Filled</h4>
                    <dl class="filled">
                      <dt>Description lists</dt>
                      <dd>A description list is perfect for defining terms.</dd>
                      <dt>Euismod</dt>
                      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                      <dt>Malesuada porta</dt>
                      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Text</strong> Colors</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="color-red">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="color-green">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="color-cyan">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="color-orange">Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
                    <p class="color-amethyst">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->




              </div>
              <!-- /col 4 -->

              <!-- col 8 -->
              <div class="col-md-8">



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Paragraph</strong> Types</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4><strong>Normal</strong> Paragraph</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h4><strong>Lead</strong> Paragraph</h4>
                    <p class="lead">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled">Filled Paragraph</h5>
                    <p class="filled">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled greensea">Filled Paragraph Greensea</h5>
                    <p class="filled greensea">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled slategray">Filled Paragraph Slategray</h5>
                    <p class="filled slategray">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled redbrown">Filled Paragraph Redbrown</h5>
                    <p class="filled redbrown">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled orange">Filled Paragraph Orange</h5>
                    <p class="filled orange">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <h5 class="filled blue">Filled Paragraph Blue</h5>
                    <p class="filled blue">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

                  </div>
                  <!-- /tile body -->




                </section>
                <!-- /tile -->


                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Blockquotes</strong> Types</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">

                    <h4><strong>Default</strong> blockquote</h4>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>

                    <h4><strong>Blockquote</strong> with source</h4>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>

                    <h4 class="text-right"><strong>Blockquote</strong> with source pulled-right</h4>
                    <blockquote class="pull-right">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>

                    <div class="clearfix"></div>

                    <h5 class="filled">Default blockquote</h5>
                    <blockquote class="filled">
                        <p><i class="fa fa-quote-left pull-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>

                    <h5 class="filled green">Blockquote with source</h5>
                    <blockquote class="filled green">
                        <p><i class="fa fa-quote-left pull-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>

                    <h5 class="filled red text-right">Blockquote with source pulled-right</h5>
                    <blockquote class="filled red text-right">
                        <p><i class="fa fa-quote-right pull-right"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                    </blockquote>

                  </div>
                  <!-- /tile body -->

                </section>
                <!-- /tile -->



                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Code</strong> Types</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <h4><strong>Html</strong> Code</h4>
<pre class="prettyprint lang-html">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;

&lt;h1&gt;My First Heading&lt;/h1&gt;

&lt;p&gt;My first paragraph.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;
</pre>
                  <h4><strong>CSS</strong> Code</h4>
<pre class="prettyprint lang-css">
html,
body {
    height: auto;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f3f3f3;
    overflow-x: hidden;
    position: relative;
}
</pre>
                  <h4><strong>JavaScript</strong> Code</h4>
<pre class="prettyprint lang-js">
$(function(){

  //generate pie charts
  $('.easypiechart').easyPieChart();

  //generate actual pie charts
  $('.pie-chart').easyPieChart();

})
</pre>
                  </div>
                  <!-- /tile body -->


                </section>
                <!-- /tile -->


                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Predefined</strong> List</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <div class="row">

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">Ordered List</p>
                        <ol>
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                        </ol>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">Unordered List</p>
                          <ul>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                          </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">Unstyled List</p>
                          <ul class="list-unstyled">
                            <li>List item</li>
                            <li>List item
                              <ul>
                                <li>List item</li>
                                <li>List item</li>
                              </ul>
                            </li>
                            <li>List item</li>
                          </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">Inline List</p>
                          <ul class="list-inline">
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                          </ul>
                      </div>

                    </div>
                  </div>
                  <!-- /tile body -->


                </section>
                <!-- /tile -->

                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Custom</strong> List</h1>
                    <span class="note"><strong>ul</strong> with class <em>list-type arrow/circle/check/caret</em></span>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <div class="row">

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">List type arrow</p>
                        <ul class="list-type arrow">
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                          <li>List item</li>
                        </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">List type circle</p>
                          <ul class="list-type circle">
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                          </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">List type check</p>
                          <ul class="list-type check">
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                          </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                         <p class="small-bold uppercase">List type caret-right</p>
                          <ul class="list-type caret-right">
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                            <li>List item</li>
                          </ul>
                      </div>

                    </div>
                  </div>
                  <!-- /tile body -->


                </section>
                <!-- /tile -->


                <!-- tile -->
                <section class="tile color transparent-black">



                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Custom</strong> List</h1>
                    <span class="note"><strong>ul</strong> with class <em>fa-ul</em></span>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body">
                    <div class="row">

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">List type check</p>
                        <ul class="fa-ul">
                          <li><i class="fa-li fa fa-check-square"></i>List item</li>
                          <li><i class="fa-li fa fa-check-square"></i>List item
                            <ul class="fa-ul">
                              <li><i class="fa-li fa fa-check-square"></i>List item</li>
                              <li><i class="fa-li fa fa-check-square"></i>List item</li>
                              <li><i class="fa-li fa fa-check-square"></i>List item</li>
                            </ul>
                          </li>
                          <li><i class="fa-li fa fa-check-square"></i>List item</li>
                        </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">List type spinner</p>
                        <ul class="fa-ul">
                          <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                          <li><i class="fa-li fa fa-spinner fa-spin"></i>List item
                            <ul class="fa-ul">
                              <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                              <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                              <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                            </ul>
                          </li>
                          <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                        </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">List type square</p>
                        <ul class="fa-ul">
                          <li><i class="fa-li fa fa-square"></i>List item</li>
                          <li><i class="fa-li fa fa-square"></i>List item
                            <ul class="fa-ul">
                              <li><i class="fa-li fa fa-square"></i>List item</li>
                              <li><i class="fa-li fa fa-square"></i>List item</li>
                              <li><i class="fa-li fa fa-square"></i>List item</li>
                            </ul>
                          </li>
                          <li><i class="fa-li fa fa-square"></i>List item</li>
                        </ul>
                      </div>

                      <div class="col-md-3 col-sm-6">
                        <p class="small-bold uppercase">List type cross</p>
                        <ul class="fa-ul">
                          <li><i class="fa-li fa fa-times"></i>List item</li>
                          <li><i class="fa-li fa fa-times"></i>List item
                            <ul class="fa-ul">
                              <li><i class="fa-li fa fa-times"></i>List item</li>
                              <li><i class="fa-li fa fa-times"></i>List item</li>
                              <li><i class="fa-li fa fa-times"></i>List item</li>
                            </ul>
                          </li>
                          <li><i class="fa-li fa fa-times"></i>List item</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                  <!-- /tile body -->


                </section>
                <!-- /tile -->


              </div>
              <!-- /col 8 -->




            </div>
            <!-- /row -->





          </div>
          <!-- /content container -->






        </div>
        <!-- Page content end -->

{% endblock %}
        


